@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Space+Grotesk:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Basic styling */
body {
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
}

body video{
    z-index: 000;
    position: absolute;
    top: -0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: center;
}

.container-main {
    position: relative;
    display: flex;
    width: fit-content;
    margin: auto;
    margin-top: 180px;
    padding: 50px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    z-index: 111;
    background-color: #20202077;

}

.container-main2 {
    position: relative;
    display: flex;
    margin-top: 150px;
    padding: 20px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row; 
    z-index: 111;
    bottom:50px;
    left: 50%; 
    transform: translate(-50%, -50%); 
    gap: 50px;
}


@keyframes glitch {
    0% {text-shadow: 1px 0 0 #0489ff, -1px 0 0 #2be4ea;}
    4% {text-shadow: 1px 0 0 #0489ff, -1px 0 0 #2be4ea;}
    5% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    10% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    11% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #191A1E;}
    15% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #191A1E;}
    16% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #191A1E;}
    20% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #191A1E;}
    21% {text-shadow: 0.7px 0 0 #2be4ea, -0.7px 0 0 #191A1E;}
    30% {text-shadow: 0.7px 0 0 #2be4ea, -0.7px 0 0 #191A1E;}
    31% {text-shadow: -1px 0 0 #2be4ea, 1px 0 0 #191A1E;}
    40% {text-shadow: -1px 0 0 #2be4ea, 1px 0 0 #191A1E;}
    41% {text-shadow: 50px 0 0 #2be4ea, -50px 0 0 #191A1E;}
    42% {text-shadow: 0 0 0 #2be4ea, 0 0 0 #191A1E;}
    43% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #191A1E;}
    46% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #191A1E;}
    47% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #191A1E;}
    50% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #191A1E;}
    51% {text-shadow: 1px 0 0 #0489ff, -1px 0 0 #2be4ea;}
    55% {text-shadow: 1px 0 0 #0489ff, -1px 0 0 #2be4ea;}
    56% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    60% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    61% {text-shadow: 30px 0 0 #0489ff, -30px 0 0 #191A1E;}
    62% {text-shadow: 0 0 0 #0489ff, 0 0 0 #191A1E;}
    63% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #2be4ea;}
    66% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #2be4ea;}
    67% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    70% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    71% {text-shadow: 70px 0 0 #0489ff, -70px 0 0 #2be4ea;}
    72% {text-shadow: 0 0 0 #0489ff, 0 0 0 #2be4ea;}
    73% {text-shadow: 1px 0 0 #0489ff, -1px 0 0 #2be4ea;}
    76% {text-shadow: 1px 0 0 #0489ff, -1px 0 0 #2be4ea;}
    77% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    80% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #2be4ea;}
    81% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #191A1E;}
    85% {text-shadow: 0.5px 0 0 #0489ff, -0.5px 0 0 #191A1E;}
    86% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #191A1E;}
    90% {text-shadow: -1px 0 0 #0489ff, 1px 0 0 #191A1E 2s;}
    91% {text-shadow: 60px 0 0 #191A1E, -60px 0 0 #2be4ea;}
    92% {text-shadow: 0 0 0 #191A1E, 0 0 0 #2be4ea;}
    92% {text-shadow: 0.7px 0 0 #2be4ea, -0.7px 0 0 #191A1E;}
    95% {text-shadow: 0.7px 0 0 #2be4ea, -0.7px 0 0 #191A1E;}
    96% {text-shadow: -1px 0 0 #2be4ea, 1px 0 0 #191A1E;}
    99% {text-shadow: -1px 0 0 #2be4ea, 1px 0 0 #191A1E;}
    100% {text-shadow: -1px 0 0 #2be4ea, 1px 0 0 #191A1E 5s;}
}


.container-main h1{
    color: aliceblue;
}

.container-main h1::before,
.container-main h1::after{
    content: attr(data-text);
    clip: rect(0, 0, 0, 0);
    
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    animation: glitch 3s steps(100) infinite;
}

h2 {
    height: 100px;
    text-align: center;
    font-size: 50px;
    background-color: #020202;
    border-radius: 10px;
    width: 450px;
    margin-top:50px ;
}

/* Styling for specific elements */

.title{
    font-size: 70px;
    color: #020202;
    margin-bottom: 20px;
}

.name {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dp{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.index {
    text-align: center;
    color: #202020;
    font-size: 30px;
    margin-bottom: 20px;

}

#btn1 {
    background: linear-gradient(rgb(0, 0, 0), rgba(31, 31, 31, 0.781), rgb(36, 35, 35));
    height: 105px; 
    width: 300px; 
    margin-top: 500px;
    align-items: center;
    border: 3px solid rgb(26, 27, 27);
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    margin-top: 20px;
    display: flex;
    box-shadow: inset 0px 0px 20px 2px rgb(16, 165, 252);
    position: relative;
}

#btn1 a{
    text-decoration: none;
    color: aliceblue;
    
}



#btn1:hover {
    background-color: #000000;
    color: white;
    border: #eb8c20 5px solid;
    box-shadow: 0px 0px 10px 5px #ff3300;
    transition: 1s;
}

@media (max-width: 1024px) {
    .container-main{
        max-width: 500px;
        height: 100%;
    }

    #btn1 {
        height: 105px; 
        width: 300px; 
        margin-top: 500px;
        align-items: center;
        font-size: 28px;
        margin-top: 20px;
    }

}


@media (max-width: 600px) {
    .container-main {
        max-width: 350px;
        padding: 10px;
        height: 100%;
    }
    
    .container-main2{
        display: flex;
        flex-wrap: wrap;
        margin-top: 180px;
    }

    #btn1 {
        height: 85px; 
        width: 200px; 
        align-items: center;
        font-size: 22px;
        margin-top: 20px;
    }
}

@media (min-width: 376px) and (max-width: 505px){
    .container-main {
        max-width: 350px;
        padding: 10px;
        height: 100%;
    }
    
    .container-main2{
        display: flex;
        flex-wrap: wrap;
        margin-top: 180px;
        column-count: 2;
    }

    #btn1 {
        height: 85px; 
        width: 130px; 
        align-items: center;
        padding: 10px;
        font-size: 20px;
        margin-top: 20px;
    }

    .container-main {
        max-width: 350px;
        padding: 10px;
        height: 100%;
        margin-top:100px;
    }

    .container-main h1{
        font-size: 50px;
    }
    
    .container-main .name {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container-main2{
        display: flex;
        flex-wrap: wrap;
        margin-top: 200px;
        column-count: 2;
        padding: 10px;
    }

    #btn1 {
        height: 85px; 
        width: 120px; 
        align-items: center;
        font-size: 18px;
        margin-top: -10px;
    }
}

