body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 150px;
    max-width: 100%;
    width: 100%;
    margin: 50px;
    margin-top: 150px;
}

.button {
    background-color: #070707;
    height: 105px; 
    width: 250px; 
    border: 3px solid black;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    font-family: 'Space Grotesk', sans-serif;
    transition: .5s ease;
}

.button a{
    text-decoration: none;
    color: white;
}

.button:hover {
    background-color: #e4e4e4;
    color: #020202;
}

.dp2{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50px;
    top: 20px;
}

header{
    width: 100%;
    top: 0;
    position: absolute;
    height: 150px;
    z-index: 1;
    background-color: #000000;
    text-align: center;
}

header h1{
    color: aliceblue;
}